@inject NavigationManager NavigationManager

<PageTitle>@PageTitle</PageTitle>

<MudContainer class="p-0 mt-2">
    <MudStack Row="true" Justify="Justify.SpaceBetween" Class="pb-2 w-100">
        <MudText Typo="Typo.h3">@PageTitle</MudText>

        @if (!string.IsNullOrEmpty(LinkAdd))
        {
            <div>
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="HandleAddLink" />
            </div>
        }
    </MudStack>
    <MudDivider DividerType="DividerType.FullWidth" />
    <MudStack Class="pt-3">
        @ChildContent
    </MudStack>
</MudContainer>

@code {
    [EditorRequired, Parameter]
    public required string PageTitle { get; set; }

    [EditorRequired, Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? LinkAdd { get; set; }

    private void HandleAddLink()
    {
        NavigationManager.NavigateTo(LinkAdd!);
    }
}